.mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-card-content {
  width: 300px;
}
.mat-card-header button mat-icon {
  font-size: 24px;
  margin-right: 40px;
}
/* action{
  margin-left: 40px;
} */
button{
  margin-right: 10px;
}
/* Add styles for notification popups */
.notification-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}

.notification-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.notification {
  padding: 10px;
  border-radius: 4px;
}

.notification.success {
  background-color: #28a745;
  color: #fff;
}

.notification.error {
  background-color: #dc3545;
  color: #fff;
}

.notification.warning {
  background-color: #ffc107;
  color: #000;
}
.notification-container.show {
  display: block;
  opacity: 1;
}